<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170744366068-egrkd2a4o3b1rut83gp60g0lnbnj7f1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170744366068-egrkd2a4o3b1rut83gp60g0lnbnj7f1l</string>
	<key>API_KEY</key>
	<string>AIzaSyDCqUrdG4xK5Q0oXTFPNIPoeXXMRp0WyBg</string>
	<key>GCM_SENDER_ID</key>
	<string>170744366068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chefcito.app</string>
	<key>PROJECT_ID</key>
	<string>chefcito-comidas</string>
	<key>STORAGE_BUCKET</key>
	<string>chefcito-comidas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170744366068:ios:bcf9a5793d62dcb8e6afa1</string>
</dict>
</plist>